header {  
    width: 100%;
    background-color: #eee;
    text-align: center;

    h1 {
        margin: 0;
        text-transform: uppercase;
        font-size: 32px;
        font-weight: 400;
    }
}